* {
  background-color: #f4f4f4;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input,
textarea,
button {
  border-radius: 8px;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 18px;
  border-radius: 12px;
}
legend {
  font-weight: 700;
  font-size: larger;
}
label {
  font-weight: 700;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 12px 6px;
  font-size: 1.25em;
  margin-bottom: 15px;
}
button {
  padding: 12px;
  font-weight: 700;
  cursor: pointer;
}
.btn-action__wrapper > * {
  padding: 6px;
  border: none;
  background-color: transparent;
  border-radius: 20%;
  font-size: large;
}
main {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
}
.todo-item > div:not(.btn-action__wrapper) {
  flex-grow: 1;
}
